Repository dflex-js/dflex, changes with the labels that .github/labeler.yml gives for each.
All labels: Action ğŸš¨, Test ğŸ§ª, documentation ğŸ“„, Core, DnD, Dom-Gen, Draggable-only, Store, Utils

.github/labeler.yml:

"Action ğŸš¨":
  - .github/workflows/**

"Test ğŸ§ª":
  - packages/**/*.test.ts
  - packages/**/*.spec.ts

"documentation ğŸ“„":
  - docs/**/*

Core:
  - any: ["packages/core-instance/**", "!packages/core-instance/package.json"]

DnD:
  - any: ["packages/dnd/**", "!packages/dnd/package.json"]

Dom-Gen:
  - any: ["packages/dom-gen/**", "!packages/dom-gen/package.json"]

Draggable-only:
  - any: ["packages/draggable/**", "!packages/draggable/package.json"]

Store:
  - any: ["packages/store/**", "!packages/store/package.json"]

Utils:
  - any: ["packages/utils/**", "!packages/utils/package.json"]

update deps
  package.json
  packages/dnd/package.json
  packages/dnd/playgrounds/dflex-react-dnd/package.json
  packages/draggable/playgrounds/dflex-react-draggable/package.json
  pnpm-lock.yaml
  scripts/eslint-config-dflex-react/package.json
  scripts/eslint-config-dflex/package.json
Labels: DnD, Draggable-only

init
  packages/dnd/cypress/integration/multiple-containers/undo/inside.noSplit.spec.ts
  packages/dnd/cypress/integration/multiple-containers/undo/split.down.spec.ts
Labels: Test ğŸ§ª, DnD

rm `isMovingAwayFrom`
  packages/dnd/src/Draggable/types.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/dnd/src/Droppable/EndDroppable.ts
Labels: DnD

refactor verify
  packages/dnd/src/Droppable/EndDroppable.ts
Labels: DnD

wip
  packages/dnd/src/Droppable/EndDroppable.ts
Labels: DnD

add new operation id with each migration and roll them back if the last active is not settled yet.
  packages/dnd/src/Draggable/DraggableAxes.ts
  packages/dnd/src/Draggable/DraggableInteractive.ts
  packages/dnd/src/Draggable/types.ts
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/dnd/src/Droppable/EndDroppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: DnD, Utils

keep id inside migration only
  packages/dnd/src/Draggable/DraggableAxes.ts
  packages/dnd/src/Draggable/types.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/utils/src/Migration/types.ts
Labels: DnD, Utils

wip
  packages/dnd/src/Droppable/DistanceCalculator.ts
Labels: DnD

complete the test
  packages/dnd/cypress/integration/multiple-containers/undo/inside.noSplit.spec.ts
Labels: Test ğŸ§ª, DnD

reversibly
  packages/dnd/src/Droppable/EndDroppable.ts
Labels: DnD

wip
  packages/dnd/src/Droppable/EndDroppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: DnD, Utils

dispose when it fallback
  packages/dnd/src/Draggable/DraggableInteractive.ts
  packages/dnd/src/Droppable/EndDroppable.ts
Labels: DnD

Dealing with multiple transformations without settling into a new position (#519)
  packages/dnd/cypress/integration/multiple-containers/undo/inside.noSplit.spec.ts
  packages/dnd/cypress/integration/multiple-containers/undo/split.down.spec.ts
  packages/dnd/src/Draggable/DraggableAxes.ts
  packages/dnd/src/Draggable/DraggableInteractive.ts
  packages/dnd/src/Draggable/types.ts
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/dnd/src/Droppable/EndDroppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: Test ğŸ§ª, DnD, Utils

update `swc`
  package.json
  pnpm-lock.yaml
Labels: none

init
  packages/dnd/cypress/integration/multiple-containers/backAndForth/toBiggerList/horizontally.top.multiSteps.spec.ts
  packages/dnd/cypress/integration/multiple-containers/backAndForth/toBiggerList/horizontally.top.spec.ts
Labels: Test ğŸ§ª, DnD

reset listAppendPosition after complete the transition
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
Labels: DnD

wip
  packages/dnd/src/Droppable/Droppable.ts
Labels: DnD

rm siblingsEmptyElmIndex
  packages/core-instance/src/Node/Core.ts
  packages/core-instance/src/Node/types.ts
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
Labels: Core, DnD

dont loop if it's the last element
  packages/dnd/src/Droppable/Droppable.ts
Labels: DnD

store margin when lifting element up so we preserve it
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: DnD, Utils

better naming
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: DnD, Utils

wip
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
Labels: DnD

fix the test which accepted the initial shift
  packages/dnd/cypress/integration/multiple-containers/cases/distributeIntoContainers.spec.ts
Labels: Test ğŸ§ª, DnD

cover the new transformation
  packages/dnd/cypress/integration/multiple-containers/backAndForth/toBiggerList/horizontally.top.multiSteps.spec.ts
Labels: Test ğŸ§ª, DnD

complete the test
  packages/dnd/cypress/integration/multiple-containers/backAndForth/toBiggerList/horizontally.top.multiSteps.spec.ts
Labels: Test ğŸ§ª, DnD

Dealing with multiple transformation while preserve the margin from the origin (#520)
  packages/core-instance/src/Node/Core.ts
  packages/core-instance/src/Node/types.ts
  packages/dnd/cypress/integration/multiple-containers/backAndForth/toBiggerList/horizontally.top.multiSteps.spec.ts
  packages/dnd/cypress/integration/multiple-containers/cases/distributeIntoContainers.spec.ts
  packages/dnd/src/Droppable/DistanceCalculator.ts
  packages/dnd/src/Droppable/Droppable.ts
  packages/utils/src/Migration/Migration.ts
  packages/utils/src/Migration/types.ts
Labels: Test ğŸ§ª, Core, DnD, Utils

init
  pnpm-lock.yaml
Labels: none

refactor name
  packages/dnd/cypress/integration/multiple-containers/essential/orphanList/vertically.top.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.bottom.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.top.multiSteps.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.top.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toSmallerList/horizontally.bottom.spec.ts
Labels: Test ğŸ§ª, DnD

add new test case
  packages/dnd/cypress/integration/multiple-containers/cases/extend.horizontally.spec.ts
Labels: Test ğŸ§ª, DnD

testing `unifiedContainerDimensions` in the container
  packages/core-instance/test/container.test.ts
Labels: Test ğŸ§ª, Core

wip
  packages/dnd/src/Draggable/DraggableAxes.ts
  packages/dnd/src/Draggable/DraggableInteractive.ts
  packages/utils/src/Threshold/Threshold.ts
Labels: DnD, Utils

Add ability to extend transformation area between containers (#521)
  packages/core-instance/test/container.test.ts
  packages/dnd/cypress/integration/multiple-containers/cases/extend.horizontally.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/orphanList/vertically.top.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.bottom.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.top.multiSteps.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toBiggerList/horizontally.top.spec.ts
  packages/dnd/cypress/integration/multiple-containers/essential/toSmallerList/horizontally.bottom.spec.ts
  packages/dnd/src/Draggable/DraggableAxes.ts
  packages/dnd/src/Draggable/DraggableInteractive.ts
  packages/utils/src/Threshold/Threshold.ts
  pnpm-lock.yaml
Labels: Test ğŸ§ª, Core, DnD, Utils

add missing test cases for extended area
  packages/dnd/cypress/integration/multiple-containers/cases/extend.horizontally.spec.ts
Labels: Test ğŸ§ª, DnD

init
  packages/dnd/cypress/integration/multiple-containers/cases/confusion.downup.spec.ts
Labels: Test ğŸ§ª, DnD

add new cases for multi and mono
  packages/dnd/cypress/integration/multiple-containers/obliquity/multi.bottomUp.spec.ts
  packages/dnd/cypress/integration/multiple-containers/obliquity/oneStep.bottomUp.spec.ts
Labels: Test ğŸ§ª, DnD

wip
  packages/dnd/cypress/integration/multiple-containers/obliquity/bottomUp/multi.spec.ts
  packages/dnd/cypress/integration/multiple-containers/obliquity/bottomUp/oneStep.spec.ts
  packages/dnd/cypress/integration/multiple-containers/obliquity/upBottom/multi.spec.ts
Labels: Test ğŸ§ª, DnD

wip
  packages/dnd/cypress/integration/multiple-containers/obliquity/upBottom/multi.spec.ts
Labels: Test ğŸ§ª, DnD

Initiate obliquity test cases (#522)
  packages/dnd/cypress/integration/multiple-containers/obliquity/bottomUp/multi.spec.ts
  packages/dnd/cypress/integration/multiple-containers/obliquity/bottomUp/oneStep.spec.ts
  packages/dnd/cypress/integration/multiple-containers/obliquity/upBottom/multi.spec.ts
Labels: Test ğŸ§ª, DnD

update deps remove cy:install script
  package.json
  packages/dnd/package.json
  pnpm-lock.yaml
  scripts/eslint-config-dflex/package.json
Labels: none

init
  README.md
Labels: none
